<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<!-- add key="ConnectionString" value="Provider=SQLOLEDB.1;Password=@Qaz151618;User ID=sa;Data Source=127.0.0.2,1435;Initial Catalog=MUNDOSALUD;Persist Security Info=True"/ -->
	<add key="ConnectionString" value="Provider=SQLOLEDB.1;Password=@Qaz151618;User ID=sa;Data Source=127.0.0.2,1436;Initial Catalog=Getpoint_GH_Test;Persist Security Info=True"/>

	<add key="BD_DEFAULT"				value="GETPOINT_DEFAULT"/>  
	<add key="PathLogITEC"				value="C:\ITEC\BROADCAST"/>  
	<add key="PathFilesINPUT"			value="C:\ITEC\FPERSA\INPUT"/>
	<add key="PathFilesINPUT_OK"		value="C:\ITEC\FPERSA\INPUT\ok"/>
	<add key="PathFilesINPUT_ERR"		value="C:\ITEC\FPERSA\INPUT\Err"/>
	<add key="PathFilesOUTPUT"			value="C:\ITEC\FPERSA\OUTPUT"/>
	<add key="PathFilesOUTPUT_BACKUP"	value="C:\ITEC\FPERSA\OUTPUT"/>
	<add key="PathFilesOUTPUT_OK"		value="C:\ITEC\FPERSA\OUTPUT\ok"/>
	<add key="PathFilesOUTPUT_ERR"		value="C:\ITEC\FPERSA\OUTPUT\Err"/>
	<add key="Usuario"					value="INTEGRADOR"/>

	  <!--add key="RegistroArchivoLog"	value="0"/--> <!--  0: Todo; 1: No escribe LOG  -->
	<add key="RegistroArchivoLog"		value="SI"/>	<!--  SI: Registra todos los mensajes; NO: No escribe todos los mensajes al LOG -->

	 <add key="RegistroBDLog"		value="NO"/>	<!--  SI: Registra mensajes en tabla de base de datos; NO: graba solo en archivo de texto -->

	  

	  <!--  CONFIGURACIONES BSALE  NOVAPET-->
	<!--<add key="TokenBsale" value="c79c0a87ce6966a0e0e87954552aa993d4129373"/> -->	
	<!--  CONFIGURACIONES BSALE MUNDO SALUD-->
	<!-- add key="TokenBsale" value="1bf8996c8889b3d593aee04052dab7d6cd13348b" / -->

	<!--  CONFIGURACIONES BSALE TESTING MUNDO SALUD -->
	<add key="TokenBsale"				value="086aaa1410ca68538cb57d223a542128139a0430" />
	  
	<!--  LISTADO DE TIPOS DE DOCUMENTO PERMITIDOS DE INTEGRAR -->
	<!--  1: BOLETA ELECTRÓNICA T -->
	<!--  2: NOTA DE CRÉDITO ELECTRÓNICA -->
	<!--  7: GUÍA DE DESPACHO ELECTRÓNICA -->
	<!--  22: BOLETA ELECTRÓNICA -->
	<add key="BSALE_DocType"				value="'1','2','7','22'"/>
	<add key="BSALE_Attributes"				value="'Peso del Producto'"/>
	<!--  para reprocesar una fecha en particular  -->
	<add key="BSALE_FechaEpoch"				value=""/>
	<!--  para reprocesar una numero en particular  -->
	<add key="BSALE_Number"					value=""/>
	<!-- Utiliza guia + tipo de despacho -->
	<add key="BSALE_Guia_TipoDespacho"		value="False"/>
	<!-- Valida variante Tipo Glosa, se debe activar para incluir los costos de envio -->
	<add key="BSALE_Valida_Variante_Glosa"	value="False"/>
	<!-- Hora de ejecucion proceso ConsultaPedidosDoctoLegal, puede establecer mas de una separada con comas -->
	<add key="BSALE_Hora_ConsultaPedidosDoctoLegal" value="'7'"/>
	<!-- Bodega de la cual se realiza la bajada de Saldos desde BSale-->
	<add key="BSALE_OfficeId_Baja_Saldos"	value="1,2"/>

	<!-- REPROCESA BAJADA DOCTOS-->
	<add key="BSALE_ReprocesaDoctos"		value="SI"/>
	<!-- REPROCESA DESDE-->
	<add key="BSALE_ReprocesaDoctosDesde"	value="01-07-2023"/>
	<!-- REPROCESA HASTA-->
	<add key="BSALE_ReprocesaDoctosHasta"	value="15-07-2023"/> 
	  
	<!-- Lista documentos BSale NOVAPET
		22	BOLETA ELECTRÓNICA
		1	BOLETA ELECTRÓNICA T
		10	BOLETA MANUAL
		28	BOLETA NO AFECTA O EXENTA ELECTRÓNICA
		29	BOLETA NO AFECTA O EXENTA ELECTRÓNICA T
		24	Cotización
		33	Despacho
		5	FACTURA ELECTRÓNICA
		6	FACTURA ELECTRÓNICA T
		15	FACTURA NO AFECTA O EXENTA ELECTRÓNICA
		27	Factura No Afecta o Exenta Electrónica T
		8	GUÍA DE DESPACHO ELECTRÓNICA T
		2	NOTA DE CRÉDITO ELECTRÓNICA
		9	NOTA DE CRÉDITO ELECTRÓNICA T
		17	NOTA DE DÉBITO ELECTRÓNICA
		18	NOTA DE DÉBITO ELECTRÓNICA T
		23	NOTA VENTA T
		32	PEDIDO CALL CENTER
		3	PEDIDO MERCADOLIBRE
		31	PEDIDO WEB
		34	RESERVA MOMENTANEA
	FIN  Lista documentos BSale NOVAPET-->


	  <add key="Timer"				value="20000 "/>
	<add key="EmpId"				value="1"/>
	<add key="ErrorMesagge"			value="La operación no se pudo realizar. Intente nuevamente."/>
	<add key="CorrectMesagge"		value="La operación se realizó correctamente."/>
	
	<add key="CharEsp"				value="'|;|,"/>
	<add key="Separador"			value="|"/>

	<add key="FTPUPLOAD_Host"		value="190.98.227.139"/>
	<add key="FTPUPLOAD_Port"		value="36"/>
	<add key="FTPUPLOAD_User"		value="Ftppersa"/>
	<add key="FTPUPLOAD_Password"	value="f7pp2rs1*$"/>

	<add key="URL_API"				value="https://app.getpoint.cl/API_GP_MUNDOSALUD"/>
	<add key="TOKEN_API"			value="771552CD-2163-488F-9429-8CB4D89A3C5D"/>	                            
	<add key="SECRET_API"			value="CF0196B1-0380-403C-A986-0B64B397D251"/>

	  <!-- Frecuencia en minutos para que ingrese a la tarea 3, actualizacion de notas de venta pendientes y actualizacion SALESFORCE -->
	<!--  0: Todo; 1: No escribe LOG  -->
	<add key="ClientSettingsProvider.ServiceUri"	value=""/>
	  
	<!-- Ruta donde deden quedar las etiquetas de Ripley al descargarse en el servidor de MUNDOSALUD -->
	<add key ="RutaEtiquetasRipley"					value="\\192.168.1.76\c$\Sitios\MUNDOSALUD\uploads\SDR"/>
	  
	<!-- Cantidad de Productos que enviara en cada llamado a la API de BigCommerce para actualizar STOCK --> 
	<add key ="CantidadProductosEnvio_BigCommerce"	value="20"/>

	<!-- Cantidad de Productos que insertará a la vez en tabla L_Integraciones el metodo BSALE_ExtraeMaestraArticulos -->
	<add key ="CantidadRegistrosInsercion"			value="100"/>

	  <!-- ========== Indicadores si habilita un integrador, cada metodo debe tener uno ========== -->
	<!-- 1  EXTRAE SALDO DE BSALE--> 
	<add key="Activa_BSALE_Saldo"								value="false"/>
	<!-- 2  EXTRAE MAESTRA DE ARTICULOS-->
	<add key="Activa_BSALE_ExtraeMaestraArticulos"				value="True"/>
	<!-- 3 CONSULTA DE DOCUMENTOS LEGALES BSALE-->
	<add key="Activa_ConsultaPedidosDoctoLegal"					value="True"/>
	<!-- 4 CONSULTA DE DOCUMENTOS BSALE WebHook-->
	<add key="Activa_ConsultaPedidosDoctoLegal2"				value="false"/>
	<!-- 5 INTEGRACION DE RECEPCION-->
	<add key="Activa_RecepcionDoctoLegal"						value="True"/>
	<!-- 6 INTEGRACION DE SDD-->
	<add key="Activa_RecepcionDoctoLegalSDD"					value="True"/>
	<!-- 7 Informa a Woocommerce el termino de Picking-->
	<add key="Activa_ConfirmacionPickingEComm"					value="True"/>
	<!-- 8 Actualiza stocks en Woocommerce-->
	<add key="Activa_ActualizaStockEComm"						value="false"/>
	<!-- 9 Confirma Revisión en Woocomerce-->
	<add key="Activa_ConfirmacionRevision"						value="false"/>
	<!-- 10 Informa a Woocommerce estado Solicitud Despacho-->
	<add key="Activa_CambiaEstadoSolicitudDespachoEcommerce"	value="false"/>
	<!-- 11 Integra reubicaciones efectuadas de offline para FASTPACK-->
	<add key="Activa_IntegraReubicacionesOffline"				value="false"/>
	<!-- 12 Genera Guias de Traslado en BSALE-->
	<add key="Activa_GeneraGuiaTrasladoBSale"					value="True"/>

	<!-- 13 Obtiene Token para llamar APIS de Ripley-->
	<add key="Activa_ObtieneTokenRipley"						value="false"/>
	<!-- 14 Integra Ordenes de Ripley-->
	<add key="Activa_IntegraOrdenesRipley"						value="false"/> 
	<!-- 15 Genera Etiquetas de Ripley-->
	<add key="Activa_GeneraEtiquetasRipley"						value="false"/>
	<!-- 16 Descarga Etiquetas de Ripley-->
	<add key="Activa_DescargaEtiquetasRipley"					value="false"/>

	<!-- 17 Servicio WEB integracion Confirmacion Recepcion INET - SIWMS_WSRecepcionConfirmacion -->
	<add key="Activa_ConfirmacionRecepcionINET"					value="True"/>

	<!-- 18 Servicio WEB integracion Confirmacion Despacho INET - SIWMS_WSRecepcionConfirmacion -->
	<add key="Activa_ConfirmacionDespachoINET"					value="True"/>	  

	<!-- 19 Servicio WEB integracion Guia Traslado INET - SIWMS_WSSolicitud -->
	<add key="Activa_GuiaTrasladoINET"							value="false"/>

	<!-- 20 WebHook, INGRESO_COMPRAS -->
	<add key="Activa_WebHook_INGRESO_COMPRAS"					value="false"/>
	<!-- 21 WebHook, INGRESO_TRASLADO -->
	<add key="Activa_WebHook_INGRESO_TRASLADO"					value="false"/>
	<!-- 22 WebHook, INGRESO_TRASLADO_CENTRO -->
	<add key="Activa_WebHook_INGRESO_TRASLADO_CENTRO"			value="false"/>
	<!-- 23 WebHook, NOTIFICACION_OF -->
	<add key="Activa_WebHook_NOTIFICACION_OF"					value="false"/>
	<!-- 24 WebHook, SALIDA_VENTA -->
	<add key="Activa_WebHook_SALIDA_VENTA"						value="false"/>
	<!-- 25 WebHook, SALIDA_TRASLADO -->
	<add key="Activa_WebHook_SALIDA_TRASLADO"					value="false"/>
	<!-- 26 WebHook, CONSUMO_INTERNO -->
	<add key="Activa_WebHook_CONSUMO_INTERNO"					value="false"/>

	<!-- 27 Actualiza stocks en Woocommerce-->
	<add key="Activa_ActualizaStockEComm_BigCommerce"			value="false"/>
  
  </appSettings>
  <system.web>
	<membership defaultProvider="ClientAuthenticationMembershipProvider">
	  <providers>
		<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
	  </providers>
	</membership>
	<roleManager defaultProvider="ClientRoleProvider" enabled="true">
	  <providers>
		<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
	  </providers>
	</roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
